body {
    background: rgb(76, 152, 214);
}

header {
    color: blue;
    padding: 30px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(3,137,206,1) 47%, rgba(2,169,227,1) 79%, rgba(1,194,243,1) 91%, rgba(0,212,255,1) 100%);
}

h2 {
    color: blue;
    padding: 30px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(3,137,206,1) 47%, rgba(2,169,227,1) 79%, rgba(1,194,243,1) 91%, rgba(0,212,255,1) 100%);
}

.maincontainer {
    background: rgb(76, 152, 214);
    font-weight: 650;
}

.forecastcontainer {
    background: rgb(76, 152, 214);
    font-weight: 650;
}

#cloudImg, #mistImg, #rainImg, #sunImg, #stormImg {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 200px;
    margin-top: 65px;
    display: none;
}

#icon1,#icon2,#icon3,#icon4,#icon5 {
    font-size: 70px;
    margin-left: 90px;
    margin-top: 10px;
    position: relative;
}

#infocontainer {
    position: relative;
    margin-left: 120px;
    margin-top: 20px;
}